<!DOCTYPE html>
<html>
<head>
   <meta charset=utf-8>
   <title></title>
   <style type="text/css">
      body { background-color: #2C2C2C; margin-left: 20%; margin-right: 20%; }
      hr { color: #3E3E3E; height: 1px; width: 300px; }
      #header { color: #E0E6D9; text-align: center; }
      #content { width: 600px; }
      #image { width: 600px; }
      #image-container { text-align: center; background-color: #222222; }
      a { color: #85714F; }
      a:visited { color: #85714F; }
      a:hover { color: #AB9164; }
      .text, ol { color: #B3B1AD; text-align: left; }
   </style>
</head>
<body>
   <div id="content">
      <p>
         <h2 id="header">Мод: <b>Увеличивает маштаб мини карты</b></h2>
      </p><br />
      <p id="image-container">
         <img id="image" src="/" alt="Мини-карта">
      </p><br /><hr />
      <p class="text">
         <b>Описание:</b><br /><br />
      </p>
      <p class="text">
         <b>Установка:</b><br /><br />
        <ol>
         <li></li>
         <li></li>
        </ol>
      </p>
      <p class="text">Источник:&nbsp<a href="/">здесь</a></p>
   </div>
</body>
</html>
